<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

RewriteCond %{REQUEST_URI} !^/server/

# If the requested file or folder doesn't exist, serve index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
</IfModule>
